.user-dropdown {
    position: relative;
}

.user-dropdown-content {
    position   : relative;
    display    : flex;
    align-items: center;
    transition : all ease-out .6s;
    gap        : .5rem;
}

.user-dropdown-content:hover {
    cursor: pointer;
}

.user-dropdown-content .user-img {
    height         : 5rem;
    width          : 5rem;
    border-radius  : 50%;
    object-fit     : cover;
    object-position: center center;
}

.user-dropdown-content .user-img img {
    width : 100%;
    height: 100%;
}

.user-name h4 {
    display    : inline-block;
    font-weight: bold;
    font-size  : 1.8rem;
    line-height: 2.4rem;
    color      : var(--black);
    font-family: var(--fonts-2);
}

.user-arrow {
    transition: all ease-out .3s;
    transform : rotate(180deg);
}

.user-icon-rotate {
    transition: all ease-out .3s;
    transform : rotate(360deg);
}

.user-login-info {
    position       : absolute;
    top            : 8rem;
    right          : 0;
    width          : 17rem;
    min-height     : 12rem;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : var(--white);
    border         : 1px solid #C4C4C4;
    border-radius  : 8px;
}

.user-hidden {
    display: none;
}

.user-item {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.user-dropdown:hover .user-profile-content {
    background: var(--gray-1);
}

.user-profile-content {
    transition   : all ease-in .3s;
    padding      : .6rem;
    border-radius: 4rem;
}

.dropdown-toggle {
    position  : relative;
    transition: all ease-in-out .3s;
}

.dropdown {
    height      : 0;
    opacity: 0;
    padding-left: 3.5rem;
    visibility: hidden;
    overflow    : hidden;
}

.dropdown.show {
    height     : auto;
    opacity: 1;
    visibility: visible;
    padding-top: 2rem;
}

.dropdown .dropdown-link {
    line-height: 3rem;
}


@media screen and (max-width: 767.98px) {
    .user-dropdown {
        margin-top: 2rem;
    }

    .user-dropdown-content {
        width: 100%;
    }

    .user-profile-content {
        padding      : 0;
        border-radius: 0;
    }

    .user-dropdown:hover .user-profile-content {
        background: transparent;
    }

    .user-login-info {
        right          : 0;
        width          : 100%;
        left           : 0;
        min-height     : 12rem;
        display        : flex;
        align-items    : center;
        justify-content: flex-start;
        background     : var(--white);
        border         : transparent;
        border-radius  : 0;
    }

    .user-item {
        justify-content: flex-start;
    }

    .user-login-info {
        padding: .7rem;
    }
}