.search-container{
    border-bottom: 1px solid var(--gray-2);
    padding: 2rem 0;
}
.search-box{
    padding: 0 3rem;
}
.full-advance-search-content {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 40px;
}
@media screen and (max-width: 767.98px){
    .search-container .full-advance-search-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .full-search-btn{
        display: none;
    }
}