.advance-search{
    padding-left: 3.5rem;
    padding-right: 3.8rem;
    padding-bottom: 2rem;
}
.advance-search-title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 3.4rem;
    color: var(--black);
    margin-bottom: 1.6rem;
}
.grid-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.full-search-close-btn{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.full-search-close-btn .close-img{
    height: 2.4rem;
    width: 2.4rem;
    /* margin-top: -0.3rem; */
}
.full-search-close-btn .close-img img{
    width: 100%;
}

.full-search-close-btn .clear-btn{
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    border-radius: 0.6rem;
    color: var(--black);
}
@media screen and (max-width: 767.98px){
    .grid-6{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .text-end{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}