.full-advance-search-content {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 40px;
}
@media screen and (max-width: 767.98px){
    .search-container .full-advance-search-content{
        grid-template-columns: 1fr, 1fr;
    }
    .full-search-btn{
        display: none;
    }
}