.autohide {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    z-index : 1050;
}

.bg-light {
    background-color: var(--white);
    border-bottom   : 1px solid var(--gray-2);
}

.container-fluid {
    max-width: 100%;
    width    : 100%;
    margin   : 0 auto;
}

.nav-menu {
    display              : grid;
    grid-template-columns: 70px 1fr;
    gap                  : 10px;
    padding              : 1.5rem 6rem;
    font-family          : "Inter", sans-serif;
}

.nav-menu>.grid_item {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 1rem;
}

.navbar-brand {
    display  : block;
    max-width: 40px;
    color    : rgba(0, 0, 0, .9);

}

.navbar-brand img {
    width: 100%;
}

.menu {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.navbar-nav {
    display    : flex;
    align-items: center;
}

.left_menu {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
}

.right_menu {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

.nav-bar {
    display    : flex;
    align-items: center;

}

.nav-bar-right {
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
}

.nav-link {
    font-size  : 1.6rem;
    line-height: 1.6rem;
    color      : var(--gray-1);
    padding    : 1.4rem 2.5rem;
    font-family: var(--fonts-2);
    cursor: pointer;
}

.user-dropdown .nav-item.d_lg_none {
    display: none;
}

.nav-item .nav-hover:hover {
    color: var(--black);
}

.nav-band {
    display: none;
}

.btn {
    font-weight   : bold;
    font-size     : 1.4rem;
    line-height   : 1.9rem;
    text-transform: uppercase;
    padding       : 1.2rem 2rem;
    border-radius : 0.8rem;
    font-family   : var(--fonts-2);
}

.btn:hover {
    cursor: pointer;
}

.nav-item .propery-fee {
    color           : var(--white);
    background-color: var(--black);
    border          : 0.2rem solid var(--black);
    transition      : all ease-in .3s;
}

.propery-fee:hover {
    color           : var(--black);
    background-color: var(--white);
    border          : 0.2rem solid var(--black);
}

.nav-item .propery-fee .free {
    background-color: var(--white);
    color           : var(--black);
    font-size       : 1.2rem;
    line-height     : 1.5rem;
    font-weight     : 600;
    letter-spacing  : 0.05em;
    padding         : 0.4rem 0.8rem;
    margin-left     : 1rem;
    border-radius   : 0.4rem;
    transition      : all ease-in .3s;
}

.propery-fee:hover .free {
    background-color: var(--black);
    color           : var(--white);
    font-size       : 1.2rem;
}

.login {
    color : var(--black);
    border: 0.2rem solid var(--black);
}

@media screen and (max-width: 767.98px) {
    .nav-menu {
        grid-template-columns: 1fr 1fr;
        padding              : 1.5rem 2.4rem;
    }

    .nav-menu>.grid_item {
        display         : block;
        position        : fixed;
        top             : 9rem;
        left            : 0;
        width           : 100%;
        height          : 100%;
        background-color: var(--white);
        padding         : 0 2.4rem;
        transform       : translateX(-100%);
        transition      : transform .3s ease-in-out
    }

    .nav-menu>.grid_item.open {
        transform: translateX(0);
    }

    .left_menu,
    .right_menu {
        display: block;
    }

    .navbar-nav {
        display      : block;
        padding      : 2rem 0;
        border-bottom: 1px solid rgba(213, 213, 213, 0.3);
    }

    .user-dropdown .nav-item.d_lg_none {
        display: block;
    }

    .nav-item:not(:last-child) {
        margin-bottom: 2rem;
    }

    .nav-link {
        display: block;
        padding: 0;
    }

    /* .left_menu {
        display: none;
    }

    .right_menu {
        display: none;
    } */

    .nav-band {
        display        : flex;
        justify-content: flex-end;
        align-items    : center;
    }
}