.auth-form-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form-check-input{
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
}
.form-check-input[type=checkbox] {
    border-radius: 0.26rem;
}
.accept{
    margin-left: .6rem;
    cursor: pointer;
    font-weight: normal;
    font-size: 1.6rem !important;
    line-height: 2.4rem;
    color: var(--gray-1);
}
.condition{
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
    font-size: 1.6rem !important;
    line-height: 2.4rem;
    color: var(--gray-1);
}