.sign-in{
    position: absolute;
    max-width: 80rem;
    left: 3rem;
    top: 0;
}
.modal{
    background: red;
    display:block;
    position: fixed;
    width: 95%;
    height: calc(100vh - 15px);
}
.fade {
    transition: opacity .15s linear;
}
.modal .modal-dialog {
    transform: none;
}
.authModalcontent {
    border-radius: 2.4rem;
    overflow: hidden;
    background-color: var(--white);
    position: relative;
}
.modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
}
.modal-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}